{
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 90,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.tsx"
    }
  ]
}